[Unit]
Description=Hadoop YARN Node Manager daemon
Requires=network.target
After=network.target

[Service]
Type=forking
WorkingDirectory={{ hadoop_yarn_data_dir }}
RuntimeDirectory={{ hadoop_pid_dir }}
User={{ hadoop_yarn_user_name }}
Group={{ hadoop_group_name }}
ExecStart={{ hadoop_home_dir }}/bin/yarn --daemon start nodemanager
ExecStop={{ hadoop_home_dir }}/bin/yarn --daemon stop nodemanager
TimeoutSec=30
Restart=on-failure
SuccessExitStatus=143

[Install]
WantedBy=default.target