[Unit]
Description=Hadoop HDFS Namenode daemon
Requires=network.target
After=network.target

[Service]
Type=forking
WorkingDirectory={{ hadoop_hdfs_data_dir }}
RuntimeDirectory={{ hadoop_pid_dir }}
User={{ hadoop_hdfs_user_name }}
Group={{ hadoop_group_name }}
ExecStart={{ hadoop_home_dir }}/bin/hdfs --daemon start namenode
ExecStop={{ hadoop_home_dir }}/bin/hdfs --daemon stop namenode
TimeoutSec=30
Restart=on-failure
SuccessExitStatus=143

[Install]
WantedBy=default.target